In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
tf.__version__

'2.5.0'

In [3]:
data= pd.read_csv('train.csv')

In [4]:
data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [5]:
data=data.drop(['Cabin','Name','Ticket'],axis=1)

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [7]:
data=data.dropna(axis=0)

In [8]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [9]:
data.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000  0.029526 -0.035609  ... -0.082704 -0.011672  0.009655
Survived        0.029526  1.000000 -0.356462  ... -0.015523  0.095265  0.266100
Pclass         -0.035609 -0.356462  1.000000  ...  0.065187  0.023666 -0.552893
Age             0.033681 -0.082446 -0.365902  ... -0.307351 -0.187896  0.093143
SibSp          -0.082704 -0.015523  0.065187  ...  1.000000  0.383338  0.139860
Parch          -0.011672  0.095265  0.023666  ...  0.383338  1.000000  0.206624
Fare            0.009655  0.266100 -0.552893  ...  0.139860  0.206624  1.000000

[7 rows x 7 columns]

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [11]:
data

     PassengerId  Survived  Pclass     Sex  ...  SibSp  Parch     Fare  Embarked
0              1         0       3    male  ...      1      0   7.2500         S
1              2         1       1  female  ...      1      0  71.2833         C
2              3         1       3  female  ...      0      0   7.9250         S
3              4         1       1  female  ...      1      0  53.1000         S
4              5         0       3    male  ...      0      0   8.0500         S
..           ...       ...     ...     ...  ...    ...    ...      ...       ...
885          886         0       3  female  ...      0      5  29.1250         Q
886          887         0       2    male  ...      0      0  13.0000         S
887          888         1       1  female  ...      0      0  30.0000         S
889          890         1       1    male  ...      0      0  30.0000         C
890          891         0       3    male  ...      0      0   7.7500         Q

[712 rows x 9 columns]

In [12]:
x=data.iloc[:,2:].values
y=data.iloc[:,1].values

In [13]:
x[0]

array([3, 'male', 22.0, 1, 0, 7.25, 'S'], dtype=object)

In [14]:
y

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x[:,1] = le.fit_transform(x[:, 1])

In [16]:
x[0]

array([3, 1, 22.0, 1, 0, 7.25, 'S'], dtype=object)

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [6])], remainder='passthrough')
x= np.array(ct.fit_transform(x))

In [18]:

x[0]

array([0.0, 0.0, 1.0, 3, 1, 22.0, 1, 0, 7.25], dtype=object)

In [19]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x)

In [20]:
X_train[0]

array([-0.47261792, -0.20232566,  0.53403984,  0.90859974,  0.75613751,
       -0.52766856,  0.52251079, -0.50678737, -0.51637992])

In [21]:
ann = tf.keras.models.Sequential()

In [22]:
ann.add(tf.keras.layers.Dense(units=8, activation='relu'))

In [23]:
ann.add(tf.keras.layers.Dense(units=8, activation='relu'))

In [24]:
ann.add(tf.keras.layers.Dense(units=8, activation='relu'))

In [25]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [26]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy','mse'])

In [27]:
ann.fit(X_train, y, batch_size = 32, epochs = 100)

Epoch 1/100
23/23 [==============================] - 1s 2ms/step - loss: 0.6562 - accuracy: 0.7079 - mse: 0.2315
Epoch 2/100
23/23 [==============================] - 0s 1ms/step - loss: 0.6157 - accuracy: 0.7331 - mse: 0.2122
Epoch 3/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5820 - accuracy: 0.7612 - mse: 0.1964
Epoch 4/100
23/23 [==============================] - 0s 1ms/step - loss: 0.5527 - accuracy: 0.7725 - mse: 0.1833
Epoch 5/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5278 - accuracy: 0.7781 - mse: 0.1726
Epoch 6/100
23/23 [==============================] - 0s 2ms/step - loss: 0.5074 - accuracy: 0.7739 - mse: 0.1647
Epoch 7/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4922 - accuracy: 0.7781 - mse: 0.1587
Epoch 8/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4806 - accuracy: 0.7879 - mse: 0.1544
Epoch 9/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4722 - accuracy: 0.7893 - mse: 0.1513
Epoch 10/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4651 - accuracy: 0.7893 - mse: 0.1487
Epoch 11/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4598 - accuracy: 0.7879 - mse: 0.1468
Epoch 12/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4552 - accuracy: 0.7879 - mse: 0.1451
Epoch 13/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4500 - accuracy: 0.7907 - mse: 0.1433
Epoch 14/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4459 - accuracy: 0.7893 - mse: 0.1419
Epoch 15/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4423 - accuracy: 0.7907 - mse: 0.1405
Epoch 16/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.7978 - mse: 0.1391
Epoch 17/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4369 - accuracy: 0.7978 - mse: 0.1384
Epoch 18/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4335 - accuracy: 0.8048 - mse: 0.1369
Epoch 19/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4306 - accuracy: 0.8062 - mse: 0.1357
Epoch 20/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4285 - accuracy: 0.8104 - mse: 0.1348
Epoch 21/100
23/23 [==============================] - 0s 3ms/step - loss: 0.4266 - accuracy: 0.8104 - mse: 0.1342
Epoch 22/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.8146 - mse: 0.1331
Epoch 23/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4221 - accuracy: 0.8118 - mse: 0.1324
Epoch 24/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4197 - accuracy: 0.8132 - mse: 0.1314
Epoch 25/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4180 - accuracy: 0.8216 - mse: 0.1306
Epoch 26/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4162 - accuracy: 0.8258 - mse: 0.1299
Epoch 27/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4148 - accuracy: 0.8272 - mse: 0.1293
Epoch 28/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4132 - accuracy: 0.8244 - mse: 0.1286
Epoch 29/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4122 - accuracy: 0.8230 - mse: 0.1281
Epoch 30/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4107 - accuracy: 0.8287 - mse: 0.1274
Epoch 31/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8230 - mse: 0.1271
Epoch 32/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8244 - mse: 0.1265
Epoch 33/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4090 - accuracy: 0.8287 - mse: 0.1267
Epoch 34/100
23/23 [==============================] - 0s 1ms/step - loss: 0.4069 - accuracy: 0.8301 - mse: 0.1257
Epoch 35/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8287 - mse: 0.1255
Epoch 36/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8315 - mse: 0.1253
Epoch 37/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8272 - mse: 0.1249
Epoch 38/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8315 - mse: 0.1242
Epoch 39/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8301 - mse: 0.1240
Epoch 40/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4007 - accuracy: 0.8287 - mse: 0.1235
Epoch 41/100
23/23 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8329 - mse: 0.1235
Epoch 42/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3996 - accuracy: 0.8272 - mse: 0.1232
Epoch 43/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8343 - mse: 0.1226
Epoch 44/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3978 - accuracy: 0.8343 - mse: 0.1226
Epoch 45/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3976 - accuracy: 0.8315 - mse: 0.1225
Epoch 46/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8272 - mse: 0.1224
Epoch 47/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3951 - accuracy: 0.8343 - mse: 0.1217
Epoch 48/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8357 - mse: 0.1216
Epoch 49/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3954 - accuracy: 0.8329 - mse: 0.1216
Epoch 50/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3934 - accuracy: 0.8287 - mse: 0.1209
Epoch 51/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8329 - mse: 0.1211
Epoch 52/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3919 - accuracy: 0.8315 - mse: 0.1205
Epoch 53/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8385 - mse: 0.1202
Epoch 54/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8385 - mse: 0.1200
Epoch 55/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3902 - accuracy: 0.8357 - mse: 0.1199
Epoch 56/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3895 - accuracy: 0.8343 - mse: 0.1197
Epoch 57/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.8343 - mse: 0.1195
Epoch 58/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3877 - accuracy: 0.8343 - mse: 0.1190
Epoch 59/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8301 - mse: 0.1192
Epoch 60/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3872 - accuracy: 0.8371 - mse: 0.1190
Epoch 61/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3860 - accuracy: 0.8371 - mse: 0.1185
Epoch 62/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8413 - mse: 0.1182
Epoch 63/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8329 - mse: 0.1186
Epoch 64/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8385 - mse: 0.1180
Epoch 65/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3838 - accuracy: 0.8399 - mse: 0.1178
Epoch 66/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.8343 - mse: 0.1177
Epoch 67/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3823 - accuracy: 0.8399 - mse: 0.1174
Epoch 68/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8385 - mse: 0.1172
Epoch 69/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3818 - accuracy: 0.8427 - mse: 0.1171
Epoch 70/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3810 - accuracy: 0.8413 - mse: 0.1169
Epoch 71/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8413 - mse: 0.1166
Epoch 72/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3795 - accuracy: 0.8399 - mse: 0.1165
Epoch 73/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3791 - accuracy: 0.8399 - mse: 0.1162
Epoch 74/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8385 - mse: 0.1163
Epoch 75/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3784 - accuracy: 0.8427 - mse: 0.1160
Epoch 76/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3781 - accuracy: 0.8385 - mse: 0.1160
Epoch 77/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3761 - accuracy: 0.8413 - mse: 0.1152
Epoch 78/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3764 - accuracy: 0.8413 - mse: 0.1154
Epoch 79/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3759 - accuracy: 0.8385 - mse: 0.1152
Epoch 80/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3750 - accuracy: 0.8385 - mse: 0.1147
Epoch 81/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3744 - accuracy: 0.8413 - mse: 0.1147
Epoch 82/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3744 - accuracy: 0.8441 - mse: 0.1148
Epoch 83/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3730 - accuracy: 0.8399 - mse: 0.1143
Epoch 84/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3723 - accuracy: 0.8413 - mse: 0.1141
Epoch 85/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3717 - accuracy: 0.8427 - mse: 0.1140
Epoch 86/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3725 - accuracy: 0.8413 - mse: 0.1141
Epoch 87/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3705 - accuracy: 0.8469 - mse: 0.1136
Epoch 88/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8483 - mse: 0.1136
Epoch 89/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3713 - accuracy: 0.8469 - mse: 0.1137
Epoch 90/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8469 - mse: 0.1133
Epoch 91/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3701 - accuracy: 0.8441 - mse: 0.1133
Epoch 92/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8469 - mse: 0.1128
Epoch 93/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3682 - accuracy: 0.8497 - mse: 0.1127
Epoch 94/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8455 - mse: 0.1128
Epoch 95/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3671 - accuracy: 0.8469 - mse: 0.1125
Epoch 96/100
23/23 [==============================] - 0s 1ms/step - loss: 0.3658 - accuracy: 0.8483 - mse: 0.1121
Epoch 97/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8511 - mse: 0.1120
Epoch 98/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3663 - accuracy: 0.8525 - mse: 0.1122
Epoch 99/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8539 - mse: 0.1125
Epoch 100/100
23/23 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8539 - mse: 0.1113

In [28]:
x_test=pd.read_csv('test.csv')

In [29]:
x_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [30]:
x_test=x_test.drop(['Cabin','Name','Ticket'],axis=1)

In [31]:
x_test=x_test.fillna(x_test.mean())

In [32]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [33]:
xt=x_test.iloc[:,1:].values

In [34]:
xt[:,1] = le.fit_transform(xt[:, 1])

In [35]:
xt= np.array(ct.transform(xt))
xt = sc.transform(xt)

In [36]:
y_pred = ann.predict(xt)

In [37]:
len(y_pred)

418

In [38]:
len(x_test['PassengerId'])

418

In [39]:
y_pred

array([[0.02253714],
       [0.4090482 ],
       [0.05282196],
       [0.13761753],
       [0.3489702 ],
       [0.12302628],
       [0.3955542 ],
       [0.10685238],
       [0.6465967 ],
       [0.02788767],
       [0.18178034],
       [0.20989144],
       [0.97526276],
       [0.05873039],
       [0.9810517 ],
       [0.9352136 ],
       [0.04311615],
       [0.27955964],
       [0.36784136],
       [0.37007493],
       [0.45414823],
       [0.47312328],
       [0.98878586],
       [0.8325531 ],
       [0.91437554],
       [0.02872929],
       [0.99213576],
       [0.26204866],
       [0.30226275],
       [0.08190948],
       [0.05935955],
       [0.04637787],
       [0.23040077],
       [0.24995911],
       [0.54205984],
       [0.28931105],
       [0.46823055],
       [0.54656005],
       [0.10610935],
       [0.5169821 ],
       [0.12645671],
       [0.60442436],
       [0.09987915],
       [0.9391498 ],
       [0.9822689 ],
       [0.10371482],
       [0.35938677],
       [0.02170414],
       [0.95488733],
       [0.38342875],
       [0.5492424 ],
       [0.14759985],
       [0.91690665],
       [0.91666865],
       [0.14403284],
       [0.01552713],
       [0.15008363],
       [0.10330161],
       [0.076334  ],
       [0.9935945 ],
       [0.09988451],
       [0.08329684],
       [0.09304607],
       [0.51550853],
       [0.1420691 ],
       [0.9259883 ],
       [0.58068484],
       [0.1961303 ],
       [0.51466113],
       [0.6316376 ],
       [0.48267585],
       [0.07631633],
       [0.4866324 ],
       [0.59243256],
       [0.97814333],
       [0.7361145 ],
       [0.18221322],
       [0.99176764],
       [0.08349591],
       [0.48267585],
       [0.41948915],
       [0.94529414],
       [0.19304532],
       [0.18178034],
       [0.04074207],
       [0.10247421],
       [0.43387857],
       [0.5704694 ],
       [0.39302996],
       [0.87240946],
       [0.39853647],
       [0.18144175],
       [0.994022  ],
       [0.18221322],
       [0.6944924 ],
       [0.10352048],
       [0.96933633],
       [0.16272736],
       [0.55571485],
       [0.17515805],
       [0.9829843 ],
       [0.08568779],
       [0.02170414],
       [0.11910787],
       [0.7057911 ],
       [0.19978982],
       [0.0200308 ],
       [0.02170414],
       [0.18408209],
       [0.11689913],
       [0.12174869],
       [0.39310774],
       [0.98735654],
       [0.57210803],
       [0.9988588 ],
       [0.22454342],
       [0.15164322],
       [0.6442888 ],
       [0.31648734],
       [0.8967352 ],
       [0.9714354 ],
       [0.02439955],
       [0.9837093 ],
       [0.14725083],
       [0.02170414],
       [0.7124771 ],
       [0.07471699],
       [0.5552149 ],
       [0.08508831],
       [0.09007442],
       [0.1886428 ],
       [0.321118  ],
       [0.4681122 ],
       [0.09600475],
       [0.08697566],
       [0.08981493],
       [0.18722561],
       [0.08412418],
       [0.532462  ],
       [0.11888447],
       [0.24941814],
       [0.92992485],
       [0.34462345],
       [0.08621842],
       [0.28523654],
       [0.0117476 ],
       [0.42804158],
       [0.07487062],
       [0.60442436],
       [0.06139365],
       [0.9864958 ],
       [0.15345907],
       [0.05381215],
       [0.3918473 ],
       [0.03451765],
       [0.08941305],
       [0.94006956],
       [0.53283954],
       [0.28523654],
       [0.6153008 ],
       [0.39298555],
       [0.3897034 ],
       [0.949101  ],
       [0.17928144],
       [0.09097737],
       [0.27378017],
       [0.3314084 ],
       [0.08444208],
       [0.99181455],
       [0.53835213],
       [0.18081248],
       [0.18286747],
       [0.15775532],
       [0.15262684],
       [0.12007573],
       [0.9791612 ],
       [0.93048877],
       [0.45786458],
       [0.9220464 ],
       [0.90642214],
       [0.08349591],
       [0.40674132],
       [0.9930091 ],
       [0.02170414],
       [0.93423045],
       [0.10059196],
       [0.9743645 ],
       [0.03383702],
       [0.7976078 ],
       [0.09723067],
       [0.06594473],
       [0.60812664],
       [0.29362652],
       [0.0537602 ],
       [0.8784315 ],
       [0.17458227],
       [0.9051485 ],
       [0.57099116],
       [0.08904219],
       [0.46792847],
       [0.41384307],
       [0.7433549 ],
       [0.9284464 ],
       [0.9700284 ],
       [0.08269548],
       [0.54376113],
       [0.36523175],
       [0.08327711],
       [0.9909284 ],
       [0.1036709 ],
       [0.23796552],
       [0.1794202 ],
       [0.13950178],
       [0.90078104],
       [0.41859764],
       [0.2648966 ],
       [0.39337397],
       [0.5391588 ],
       [0.9922741 ],
       [0.18221322],
       [0.930231  ],
       [0.07631364],
       [0.9608575 ],
       [0.07631811],
       [0.9665601 ],
       [0.5952594 ],
       [0.07953972],
       [0.39302996],
       [0.1171042 ],
       [0.09293991],
       [0.10670665],
       [0.99563503],
       [0.1558809 ],
       [0.02173254],
       [0.4957486 ],
       [0.08058441],
       [0.44369555],
       [0.28343427],
       [0.9645015 ],
       [0.9810099 ],
       [0.96581614],
       [0.8839569 ],
       [0.3074883 ],
       [0.181757  ],
       [0.05070892],
       [0.3749131 ],
       [0.9499366 ],
       [0.05039164],
       [0.8967352 ],
       [0.60644287],
       [0.98288023],
       [0.08057836],
       [0.50659   ],
       [0.09178072],
       [0.18624014],
       [0.18081257],
       [0.02170414],
       [0.14915508],
       [0.9640957 ],
       [0.07631856],
       [0.03800568],
       [0.07631707],
       [0.963501  ],
       [0.669112  ],
       [0.14086777],
       [0.18178034],
       [0.6827252 ],
       [0.18081248],
       [0.46823055],
       [0.09980446],
       [0.29162627],
       [0.02170414],
       [0.9558161 ],
       [0.4517198 ],
       [0.1526216 ],
       [0.9376541 ],
       [0.08195412],
       [0.06216341],
       [0.07203647],
       [0.09601313],
       [0.5312809 ],
       [0.57625544],
       [0.39302996],
       [0.7858486 ],
       [0.6082665 ],
       [0.138652  ],
       [0.17997617],
       [0.38564134],
       [0.15262684],
       [0.18221322],
       [0.5139815 ],
       [0.3937434 ],
       [0.15262684],
       [0.1854859 ],
       [0.14392525],
       [0.11931324],
       [0.98645985],
       [0.08190948],
       [0.4780663 ],
       [0.16254553],
       [0.18778652],
       [0.1433241 ],
       [0.08976325],
       [0.09089053],
       [0.39302996],
       [0.96926725],
       [0.2135354 ],
       [0.63702184],
       [0.18383911],
       [0.38000828],
       [0.09295669],
       [0.27486688],
       [0.18088233],
       [0.36516333],
       [0.98282015],
       [0.5964676 ],
       [0.69352984],
       [0.11992303],
       [0.13581863],
       [0.05101979],
       [0.11910787],
       [0.2049847 ],
       [0.08412418],
       [0.5491917 ],
       [0.97349143],
       [0.07864353],
       [0.890535  ],
       [0.28478122],
       [0.08255145],
       [0.09710878],
       [0.8574208 ],
       [0.39002353],
       [0.1526216 ],
       [0.66415244],
       [0.13591072],
       [0.61350846],
       [0.08285502],
       [0.14448527],
       [0.08446577],
       [0.15262684],
       [0.1291931 ],
       [0.18717864],
       [0.13443065],
       [0.99994946],
       [0.03336456],
       [0.58621943],
       [0.08412418],
       [0.40327686],
       [0.08241796],
       [0.9226661 ],
       [0.975965  ],
       [0.08269548],
       [0.15986204],
       [0.06887543],
       [0.703179  ],
       [0.18921214],
       [0.98963827],
       [0.18173379],
       [0.02170414],
       [0.33565885],
       [0.0501107 ],
       [0.952022  ],
       [0.9226661 ],
       [0.13761753],
       [0.98906255],
       [0.31433976],
       [0.10247773],
       [0.45879933],
       [0.97655785],
       [0.14449212],
       [0.11200476],
       [0.9260073 ],
       [0.20713079],
       [0.07433745],
       [0.9701395 ],
       [0.9983029 ],
       [0.3031978 ],
       [0.10088122],
       [0.16480857],
       [0.0529238 ],
       [0.02170414],
       [0.02093723],
       [0.43721324],
       [0.42008042],
       [0.08350027],
       [0.8477403 ],
       [0.08971015],
       [0.06567243],
       [0.0200164 ],
       [0.04451773],
       [0.24506268],
       [0.98320603],
       [0.6265009 ],
       [0.06281471],
       [0.01600334],
       [0.9912081 ],
       [0.02044412],
       [0.96971345],
       [0.07470444],
       [0.02183867],
       [0.93066156],
       [0.06451297],
       [0.99261755],
       [0.7204766 ],
       [0.50305223],
       [0.24507064],
       [0.09440303],
       [0.70494723],
       [0.39295226],
       [0.62917364],
       [0.39302996],
       [0.9828868 ],
       [0.49460658],
       [0.18221322],
       [0.9585854 ],
       [0.1172902 ],
       [0.18221322],
       [0.14721385]], dtype=float32)

In [40]:
pred=[np.round(i) for i in y_pred]

In [41]:
pred

[array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([1.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32),
 array([0.], dtype=float32)]

In [42]:
ps=[i for i in x_test['PassengerId']]

In [43]:
ps

[892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1309]

In [44]:
sub = [[ps[i],pred[i]] for i in range(len(pred))]

In [45]:
sub

[[892, array([0.], dtype=float32)],
 [893, array([0.], dtype=float32)],
 [894, array([0.], dtype=float32)],
 [895, array([0.], dtype=float32)],
 [896, array([0.], dtype=float32)],
 [897, array([0.], dtype=float32)],
 [898, array([0.], dtype=float32)],
 [899, array([0.], dtype=float32)],
 [900, array([1.], dtype=float32)],
 [901, array([0.], dtype=float32)],
 [902, array([0.], dtype=float32)],
 [903, array([0.], dtype=float32)],
 [904, array([1.], dtype=float32)],
 [905, array([0.], dtype=float32)],
 [906, array([1.], dtype=float32)],
 [907, array([1.], dtype=float32)],
 [908, array([0.], dtype=float32)],
 [909, array([0.], dtype=float32)],
 [910, array([0.], dtype=float32)],
 [911, array([0.], dtype=float32)],
 [912, array([0.], dtype=float32)],
 [913, array([0.], dtype=float32)],
 [914, array([1.], dtype=float32)],
 [915, array([1.], dtype=float32)],
 [916, array([1.], dtype=float32)],
 [917, array([0.], dtype=float32)],
 [918, array([1.], dtype=float32)],
 [919, array([0.], dtype=float32)],
 [920, array([0.], dtype=float32)],
 [921, array([0.], dtype=float32)],
 [922, array([0.], dtype=float32)],
 [923, array([0.], dtype=float32)],
 [924, array([0.], dtype=float32)],
 [925, array([0.], dtype=float32)],
 [926, array([1.], dtype=float32)],
 [927, array([0.], dtype=float32)],
 [928, array([0.], dtype=float32)],
 [929, array([1.], dtype=float32)],
 [930, array([0.], dtype=float32)],
 [931, array([1.], dtype=float32)],
 [932, array([0.], dtype=float32)],
 [933, array([1.], dtype=float32)],
 [934, array([0.], dtype=float32)],
 [935, array([1.], dtype=float32)],
 [936, array([1.], dtype=float32)],
 [937, array([0.], dtype=float32)],
 [938, array([0.], dtype=float32)],
 [939, array([0.], dtype=float32)],
 [940, array([1.], dtype=float32)],
 [941, array([0.], dtype=float32)],
 [942, array([1.], dtype=float32)],
 [943, array([0.], dtype=float32)],
 [944, array([1.], dtype=float32)],
 [945, array([1.], dtype=float32)],
 [946, array([0.], dtype=float32)],
 [947, array([0.], dtype=float32)],
 [948, array([0.], dtype=float32)],
 [949, array([0.], dtype=float32)],
 [950, array([0.], dtype=float32)],
 [951, array([1.], dtype=float32)],
 [952, array([0.], dtype=float32)],
 [953, array([0.], dtype=float32)],
 [954, array([0.], dtype=float32)],
 [955, array([1.], dtype=float32)],
 [956, array([0.], dtype=float32)],
 [957, array([1.], dtype=float32)],
 [958, array([1.], dtype=float32)],
 [959, array([0.], dtype=float32)],
 [960, array([1.], dtype=float32)],
 [961, array([1.], dtype=float32)],
 [962, array([0.], dtype=float32)],
 [963, array([0.], dtype=float32)],
 [964, array([0.], dtype=float32)],
 [965, array([1.], dtype=float32)],
 [966, array([1.], dtype=float32)],
 [967, array([1.], dtype=float32)],
 [968, array([0.], dtype=float32)],
 [969, array([1.], dtype=float32)],
 [970, array([0.], dtype=float32)],
 [971, array([0.], dtype=float32)],
 [972, array([0.], dtype=float32)],
 [973, array([1.], dtype=float32)],
 [974, array([0.], dtype=float32)],
 [975, array([0.], dtype=float32)],
 [976, array([0.], dtype=float32)],
 [977, array([0.], dtype=float32)],
 [978, array([0.], dtype=float32)],
 [979, array([1.], dtype=float32)],
 [980, array([0.], dtype=float32)],
 [981, array([1.], dtype=float32)],
 [982, array([0.], dtype=float32)],
 [983, array([0.], dtype=float32)],
 [984, array([1.], dtype=float32)],
 [985, array([0.], dtype=float32)],
 [986, array([1.], dtype=float32)],
 [987, array([0.], dtype=float32)],
 [988, array([1.], dtype=float32)],
 [989, array([0.], dtype=float32)],
 [990, array([1.], dtype=float32)],
 [991, array([0.], dtype=float32)],
 [992, array([1.], dtype=float32)],
 [993, array([0.], dtype=float32)],
 [994, array([0.], dtype=float32)],
 [995, array([0.], dtype=float32)],
 [996, array([1.], dtype=float32)],
 [997, array([0.], dtype=float32)],
 [998, array([0.], dtype=float32)],
 [999, array([0.], dtype=float32)],
 [1000, array([0.], dtype=float32)],
 [1001, array([0.], dtype=float32)],
 [1002, array([0.], dtype=float32)],
 [1003, array([0.], dtype=float32)],
 [1004, array([1.], dtype=float32)],
 [1005, array([1.], dtype=float32)],
 [1006, array([1.], dtype=float32)],
 [1007, array([0.], dtype=float32)],
 [1008, array([0.], dtype=float32)],
 [1009, array([1.], dtype=float32)],
 [1010, array([0.], dtype=float32)],
 [1011, array([1.], dtype=float32)],
 [1012, array([1.], dtype=float32)],
 [1013, array([0.], dtype=float32)],
 [1014, array([1.], dtype=float32)],
 [1015, array([0.], dtype=float32)],
 [1016, array([0.], dtype=float32)],
 [1017, array([1.], dtype=float32)],
 [1018, array([0.], dtype=float32)],
 [1019, array([1.], dtype=float32)],
 [1020, array([0.], dtype=float32)],
 [1021, array([0.], dtype=float32)],
 [1022, array([0.], dtype=float32)],
 [1023, array([0.], dtype=float32)],
 [1024, array([0.], dtype=float32)],
 [1025, array([0.], dtype=float32)],
 [1026, array([0.], dtype=float32)],
 [1027, array([0.], dtype=float32)],
 [1028, array([0.], dtype=float32)],
 [1029, array([0.], dtype=float32)],
 [1030, array([1.], dtype=float32)],
 [1031, array([0.], dtype=float32)],
 [1032, array([0.], dtype=float32)],
 [1033, array([1.], dtype=float32)],
 [1034, array([0.], dtype=float32)],
 [1035, array([0.], dtype=float32)],
 [1036, array([0.], dtype=float32)],
 [1037, array([0.], dtype=float32)],
 [1038, array([0.], dtype=float32)],
 [1039, array([0.], dtype=float32)],
 [1040, array([1.], dtype=float32)],
 [1041, array([0.], dtype=float32)],
 [1042, array([1.], dtype=float32)],
 [1043, array([0.], dtype=float32)],
 [1044, array([0.], dtype=float32)],
 [1045, array([0.], dtype=float32)],
 [1046, array([0.], dtype=float32)],
 [1047, array([0.], dtype=float32)],
 [1048, array([1.], dtype=float32)],
 [1049, array([1.], dtype=float32)],
 [1050, array([0.], dtype=float32)],
 [1051, array([1.], dtype=float32)],
 [1052, array([0.], dtype=float32)],
 [1053, array([0.], dtype=float32)],
 [1054, array([1.], dtype=float32)],
 [1055, array([0.], dtype=float32)],
 [1056, array([0.], dtype=float32)],
 [1057, array([0.], dtype=float32)],
 [1058, array([0.], dtype=float32)],
 [1059, array([0.], dtype=float32)],
 [1060, array([1.], dtype=float32)],
 [1061, array([1.], dtype=float32)],
 [1062, array([0.], dtype=float32)],
 [1063, array([0.], dtype=float32)],
 [1064, array([0.], dtype=float32)],
 [1065, array([0.], dtype=float32)],
 [1066, array([0.], dtype=float32)],
 [1067, array([1.], dtype=float32)],
 [1068, array([1.], dtype=float32)],
 [1069, array([0.], dtype=float32)],
 [1070, array([1.], dtype=float32)],
 [1071, array([1.], dtype=float32)],
 [1072, array([0.], dtype=float32)],
 [1073, array([0.], dtype=float32)],
 [1074, array([1.], dtype=float32)],
 [1075, array([0.], dtype=float32)],
 [1076, array([1.], dtype=float32)],
 [1077, array([0.], dtype=float32)],
 [1078, array([1.], dtype=float32)],
 [1079, array([0.], dtype=float32)],
 [1080, array([1.], dtype=float32)],
 [1081, array([0.], dtype=float32)],
 [1082, array([0.], dtype=float32)],
 [1083, array([1.], dtype=float32)],
 [1084, array([0.], dtype=float32)],
 [1085, array([0.], dtype=float32)],
 [1086, array([1.], dtype=float32)],
 [1087, array([0.], dtype=float32)],
 [1088, array([1.], dtype=float32)],
 [1089, array([1.], dtype=float32)],
 [1090, array([0.], dtype=float32)],
 [1091, array([0.], dtype=float32)],
 [1092, array([0.], dtype=float32)],
 [1093, array([1.], dtype=float32)],
 [1094, array([1.], dtype=float32)],
 [1095, array([1.], dtype=float32)],
 [1096, array([0.], dtype=float32)],
 [1097, array([1.], dtype=float32)],
 [1098, array([0.], dtype=float32)],
 [1099, array([0.], dtype=float32)],
 [1100, array([1.], dtype=float32)],
 [1101, array([0.], dtype=float32)],
 [1102, array([0.], dtype=float32)],
 [1103, array([0.], dtype=float32)],
 [1104, array([0.], dtype=float32)],
 [1105, array([1.], dtype=float32)],
 [1106, array([0.], dtype=float32)],
 [1107, array([0.], dtype=float32)],
 [1108, array([0.], dtype=float32)],
 [1109, array([1.], dtype=float32)],
 [1110, array([1.], dtype=float32)],
 [1111, array([0.], dtype=float32)],
 [1112, array([1.], dtype=float32)],
 [1113, array([0.], dtype=float32)],
 [1114, array([1.], dtype=float32)],
 [1115, array([0.], dtype=float32)],
 [1116, array([1.], dtype=float32)],
 [1117, array([1.], dtype=float32)],
 [1118, array([0.], dtype=float32)],
 [1119, array([0.], dtype=float32)],
 [1120, array([0.], dtype=float32)],
 [1121, array([0.], dtype=float32)],
 [1122, array([0.], dtype=float32)],
 [1123, array([1.], dtype=float32)],
 [1124, array([0.], dtype=float32)],
 [1125, array([0.], dtype=float32)],
 [1126, array([0.], dtype=float32)],
 [1127, array([0.], dtype=float32)],
 [1128, array([0.], dtype=float32)],
 [1129, array([0.], dtype=float32)],
 [1130, array([1.], dtype=float32)],
 [1131, array([1.], dtype=float32)],
 [1132, array([1.], dtype=float32)],
 [1133, array([1.], dtype=float32)],
 [1134, array([0.], dtype=float32)],
 [1135, array([0.], dtype=float32)],
 [1136, array([0.], dtype=float32)],
 [1137, array([0.], dtype=float32)],
 [1138, array([1.], dtype=float32)],
 [1139, array([0.], dtype=float32)],
 [1140, array([1.], dtype=float32)],
 [1141, array([1.], dtype=float32)],
 [1142, array([1.], dtype=float32)],
 [1143, array([0.], dtype=float32)],
 [1144, array([1.], dtype=float32)],
 [1145, array([0.], dtype=float32)],
 [1146, array([0.], dtype=float32)],
 [1147, array([0.], dtype=float32)],
 [1148, array([0.], dtype=float32)],
 [1149, array([0.], dtype=float32)],
 [1150, array([1.], dtype=float32)],
 [1151, array([0.], dtype=float32)],
 [1152, array([0.], dtype=float32)],
 [1153, array([0.], dtype=float32)],
 [1154, array([1.], dtype=float32)],
 [1155, array([1.], dtype=float32)],
 [1156, array([0.], dtype=float32)],
 [1157, array([0.], dtype=float32)],
 [1158, array([1.], dtype=float32)],
 [1159, array([0.], dtype=float32)],
 [1160, array([0.], dtype=float32)],
 [1161, array([0.], dtype=float32)],
 [1162, array([0.], dtype=float32)],
 [1163, array([0.], dtype=float32)],
 [1164, array([1.], dtype=float32)],
 [1165, array([0.], dtype=float32)],
 [1166, array([0.], dtype=float32)],
 [1167, array([1.], dtype=float32)],
 [1168, array([0.], dtype=float32)],
 [1169, array([0.], dtype=float32)],
 [1170, array([0.], dtype=float32)],
 [1171, array([0.], dtype=float32)],
 [1172, array([1.], dtype=float32)],
 [1173, array([1.], dtype=float32)],
 [1174, array([0.], dtype=float32)],
 [1175, array([1.], dtype=float32)],
 [1176, array([1.], dtype=float32)],
 [1177, array([0.], dtype=float32)],
 [1178, array([0.], dtype=float32)],
 [1179, array([0.], dtype=float32)],
 [1180, array([0.], dtype=float32)],
 [1181, array([0.], dtype=float32)],
 [1182, array([1.], dtype=float32)],
 [1183, array([0.], dtype=float32)],
 [1184, array([0.], dtype=float32)],
 [1185, array([0.], dtype=float32)],
 [1186, array([0.], dtype=float32)],
 [1187, array([0.], dtype=float32)],
 [1188, array([1.], dtype=float32)],
 [1189, array([0.], dtype=float32)],
 [1190, array([0.], dtype=float32)],
 [1191, array([0.], dtype=float32)],
 [1192, array([0.], dtype=float32)],
 [1193, array([0.], dtype=float32)],
 [1194, array([0.], dtype=float32)],
 [1195, array([0.], dtype=float32)],
 [1196, array([0.], dtype=float32)],
 [1197, array([1.], dtype=float32)],
 [1198, array([0.], dtype=float32)],
 [1199, array([1.], dtype=float32)],
 [1200, array([0.], dtype=float32)],
 [1201, array([0.], dtype=float32)],
 [1202, array([0.], dtype=float32)],
 [1203, array([0.], dtype=float32)],
 [1204, array([0.], dtype=float32)],
 [1205, array([0.], dtype=float32)],
 [1206, array([1.], dtype=float32)],
 [1207, array([1.], dtype=float32)],
 [1208, array([1.], dtype=float32)],
 [1209, array([0.], dtype=float32)],
 [1210, array([0.], dtype=float32)],
 [1211, array([0.], dtype=float32)],
 [1212, array([0.], dtype=float32)],
 [1213, array([0.], dtype=float32)],
 [1214, array([0.], dtype=float32)],
 [1215, array([1.], dtype=float32)],
 [1216, array([1.], dtype=float32)],
 [1217, array([0.], dtype=float32)],
 [1218, array([1.], dtype=float32)],
 [1219, array([0.], dtype=float32)],
 [1220, array([0.], dtype=float32)],
 [1221, array([0.], dtype=float32)],
 [1222, array([1.], dtype=float32)],
 [1223, array([0.], dtype=float32)],
 [1224, array([0.], dtype=float32)],
 [1225, array([1.], dtype=float32)],
 [1226, array([0.], dtype=float32)],
 [1227, array([1.], dtype=float32)],
 [1228, array([0.], dtype=float32)],
 [1229, array([0.], dtype=float32)],
 [1230, array([0.], dtype=float32)],
 [1231, array([0.], dtype=float32)],
 [1232, array([0.], dtype=float32)],
 [1233, array([0.], dtype=float32)],
 [1234, array([0.], dtype=float32)],
 [1235, array([1.], dtype=float32)],
 [1236, array([0.], dtype=float32)],
 [1237, array([1.], dtype=float32)],
 [1238, array([0.], dtype=float32)],
 [1239, array([0.], dtype=float32)],
 [1240, array([0.], dtype=float32)],
 [1241, array([1.], dtype=float32)],
 [1242, array([1.], dtype=float32)],
 [1243, array([0.], dtype=float32)],
 [1244, array([0.], dtype=float32)],
 [1245, array([0.], dtype=float32)],
 [1246, array([1.], dtype=float32)],
 [1247, array([0.], dtype=float32)],
 [1248, array([1.], dtype=float32)],
 [1249, array([0.], dtype=float32)],
 [1250, array([0.], dtype=float32)],
 [1251, array([0.], dtype=float32)],
 [1252, array([0.], dtype=float32)],
 [1253, array([1.], dtype=float32)],
 [1254, array([1.], dtype=float32)],
 [1255, array([0.], dtype=float32)],
 [1256, array([1.], dtype=float32)],
 [1257, array([0.], dtype=float32)],
 [1258, array([0.], dtype=float32)],
 [1259, array([0.], dtype=float32)],
 [1260, array([1.], dtype=float32)],
 [1261, array([0.], dtype=float32)],
 [1262, array([0.], dtype=float32)],
 [1263, array([1.], dtype=float32)],
 [1264, array([0.], dtype=float32)],
 [1265, array([0.], dtype=float32)],
 [1266, array([1.], dtype=float32)],
 [1267, array([1.], dtype=float32)],
 [1268, array([0.], dtype=float32)],
 [1269, array([0.], dtype=float32)],
 [1270, array([0.], dtype=float32)],
 [1271, array([0.], dtype=float32)],
 [1272, array([0.], dtype=float32)],
 [1273, array([0.], dtype=float32)],
 [1274, array([0.], dtype=float32)],
 [1275, array([0.], dtype=float32)],
 [1276, array([0.], dtype=float32)],
 [1277, array([1.], dtype=float32)],
 [1278, array([0.], dtype=float32)],
 [1279, array([0.], dtype=float32)],
 [1280, array([0.], dtype=float32)],
 [1281, array([0.], dtype=float32)],
 [1282, array([0.], dtype=float32)],
 [1283, array([1.], dtype=float32)],
 [1284, array([1.], dtype=float32)],
 [1285, array([0.], dtype=float32)],
 [1286, array([0.], dtype=float32)],
 [1287, array([1.], dtype=float32)],
 [1288, array([0.], dtype=float32)],
 [1289, array([1.], dtype=float32)],
 [1290, array([0.], dtype=float32)],
 [1291, array([0.], dtype=float32)],
 [1292, array([1.], dtype=float32)],
 [1293, array([0.], dtype=float32)],
 [1294, array([1.], dtype=float32)],
 [1295, array([1.], dtype=float32)],
 [1296, array([1.], dtype=float32)],
 [1297, array([0.], dtype=float32)],
 [1298, array([0.], dtype=float32)],
 [1299, array([1.], dtype=float32)],
 [1300, array([0.], dtype=float32)],
 [1301, array([1.], dtype=float32)],
 [1302, array([0.], dtype=float32)],
 [1303, array([1.], dtype=float32)],
 [1304, array([0.], dtype=float32)],
 [1305, array([0.], dtype=float32)],
 [1306, array([1.], dtype=float32)],
 [1307, array([0.], dtype=float32)],
 [1308, array([0.], dtype=float32)],
 [1309, array([0.], dtype=float32)]]

In [46]:
df=pd.DataFrame(sub, columns=['PassengerId','Survived'])

In [47]:
df

     PassengerId Survived
0            892    [0.0]
1            893    [0.0]
2            894    [0.0]
3            895    [0.0]
4            896    [0.0]
..           ...      ...
413         1305    [0.0]
414         1306    [1.0]
415         1307    [0.0]
416         1308    [0.0]
417         1309    [0.0]

[418 rows x 2 columns]

In [48]:
for i in range(0,418):
  df["Survived"][i]=df["Survived"][i][0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
df["Survived"]

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: object

In [50]:
df

     PassengerId Survived
0            892        0
1            893        0
2            894        0
3            895        0
4            896        0
..           ...      ...
413         1305        0
414         1306        1
415         1307        0
416         1308        0
417         1309        0

[418 rows x 2 columns]

In [51]:
import csv
df.to_csv('submission.csv')

In [52]:
df

     PassengerId Survived
0            892        0
1            893        0
2            894        0
3            895        0
4            896        0
..           ...      ...
413         1305        0
414         1306        1
415         1307        0
416         1308        0
417         1309        0

[418 rows x 2 columns]